
.work-sans-normal{
font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
header{
    background-color: rgb(193, 231, 231);
}
.display-flex{
    display: flex;
}
  
.navbar{
justify-content: space-between;
background-color: aqua;
margin: 0px auto;
align-items: center;
text-align: center;
}
.brand{
    font-size: 30px;
    font-weight: 800;
    padding-left: 30px;
}
.item{
    list-style: none;
    margin-right: 20px;
    
}
.links{
    text-decoration: none;
    font-weight: 500; 
    color: rgb(27, 27, 27);
}
.banner-img{
    width: 100%;
    border-radius: 20px;

}
.image{
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
    border-radius: 20px;
}
.banner-content{
max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.title{
    font-weight: 600;
    font-size: 4rem;
}
.btn1{
    background-color: orange;
    margin: 20px;
    padding: 20px;
    color: white;
    border-radius: 10px;
}


.image-box{
    display:grid;
   grid-template-columns: repeat(2,250px);
    gap: 20px;
    border-radius: 20px;

    padding: 30px;

}
.side-text{
background-color: rgb(238, 243, 231);
align-items: center;
text-align: center;

padding: 20px;
border-radius: 30px;
}
.span1{
    color: orange;
    font-size: 25px;
}

.teams{
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
   /* margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 50px;*/

}
/*some facts*/
.title-s{
    
font-size: small;
    margin: 30px;

}
.some-facts{background-color: rgb(172, 203, 216);
    border-radius: 30px;
    padding: 30px;
}
.icons{
    display: flex;
    margin: 50px;
    padding: 0px;
    justify-content: space-around;
}
.icons{
    padding-bottom: 30px;
    
    gap: 20px;

    
    align-items: center;
    text-align: center;
    gap: 0px;
}
.ico{
    border: 1px solid tomato;
    width: 200px;
    
    height: 150px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}
.sponser{
   max-width:1300px;
   background-color: rgb(226, 241, 247);
   border-radius: 30px;
    
    margin: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.spon-pic{
padding: 30px;
display: flex;
    justify-content: 
    space-between;
    

    
}
.last-p h6{
    border-radius: 40px;
    margin:30px 100px;
    padding: 20px;
    align-items: center;
    text-align: center;
    background-color: pink;
    
}
    
